body {
    background-image: url("https://cutewallpaper.org/26/aston-light-grey-city-wallpaper/2595430517.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.change-pw {
    padding: 2rem;
    width: 45%;
    opacity: .95;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 60px 110px 0 rgb(0 0 0 / 30%);
}
.pw-input {
    width: 50%;
    margin: 4px 0px 4px 0px;
    background-color: #c7d0d8;
    border: 1px solid #77838d;
    box-shadow: 2px 2px 2px lightgrey; 
    margin: 10px;
    margin-left: 5px;
    /* box-shadow: 0 10px 10px 0 rgb(0 0 0 / 30%); */
}
.submit-button {
    /*
    width: 50%; 
    margin: 15px 0px 5px 0px;
    background-color: #0c1822;
    border: 1px solid #77838d;
    background-color: lightgray;
    cursor: pointer; */
    margin: 15px 0px 5px 0px;
    width: 50%;
    background-color: #0c1822;
    border: 1px solid #77838d;
    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 7px;
    color: rgb(201, 199, 199);
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #000000;
}