<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corsair Profile</title>
    <script src = "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href = "directory.css" rel = "stylesheet">
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar" id = "nav">
        <div class="container-fluid">
            <img src="logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
            </form>
          </div>
          <ul class="navbar-nav">
            <a class="navbar-brand" href="#">
                <img src="logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
            <li class="nav-item">
              <a class="nav-link active" href="#">First Name <br> Last Name</a>
            </li>
        </div>
      </nav>
    <div class = "row" id = "directory">
    <div class = "col">
        <div class = "section" id = "post">
            <img src="logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
        <div id = "post-text">
            <input type = "text" id = "post-input" placeholder = "Title"><br>
            <input type = "text" id = "post-input" placeholder = "Type post here...">
        </div>
        <button id = "post-submit">Post</button>
    </div>
      <div class = "section" id = "members">
        <div class = "row" id = "headings">
          <div class = "col">
          <h1>Members</h1>
          <input type = "text" id = "filter" placeholder = "Filter By...">
        </div>
          <div class = "col-sm-4"   id = "selection-buttons">
          <button id = "selection">All</button>
          <button id = "selection">Students</button>
          <button id = "selection">Alumni</button>
        </div>
      </div>
        <div id = "members-content">
          <div class="card">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" id = "selection-buttons">See Profile</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#">See Profile</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" >See Profile</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" >See Profile</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#">See Profile</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#">See Profile</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#">See Profile</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#">See Profile</a>
            </div>
          </div>
          </div>
          </div>
        </div>
  
    <div class = "col-sm-3 section">
      <h1>Feed</h1>
      <div id = "feed-content">
        <h3>Title</h3>
        <p>First Name, Last Name</p>
        <p>preview of post blah blah blah</p>
      </div>
      <div id = "feed-content">
        <h3>Title</h3>
        <p>First Name, Last Name</p>
        <p>preview of post blah blah blah</p>
      </div>
      <div id = "feed-content">
        <h3>Title</h3>
        <p>First Name, Last Name</p>
        <p>preview of post blah blah blah</p>
      </div>

    </div>
</div>


</body>
</html>
