<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corsair Profile</title>
    <script src = "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href = "profile.css" rel = "stylesheet">
    
</head>
<body class = "container-fluid">
  <div class="row">
    <div class="col-sm-8">
        <div id = "profile-content">
          <div class = "row" id = "profile-top">
            <div class = "col-lg-5" id="profile-image">
              <img src="fakepfp.jpg" class = "pfp" alt="Avatar Logo">
           </div>
           
           <div id ="home-button" class = "col-lg-1">
             <button type="button">Home</button>
           </div>
           <div id ="edit-button" class = "col-lg-1">
             <button type="button">Edit</button>
           </div>
         </div>
                <h1 id = "profile-name">
                    Rebecca Tian
              </h1>
                  <div id="profile-info">
                <p class="profile-text">
                  Student at UGA studying Cognitive Science with a double minor 
                  in Computer Science and Chinese. Interested in front-end development.
                   </p>
              </div>
             
          </div>
          </div>

          <div class="col-lg-3">
          <div id= "interests">
              <h2 id = "interest-header">
                  Interests
            </h2>
            <div id="interest-1">
              <p class="profile-text">Interest 1 </p>
            </div>
            <div id="interest-1">
              <p class="profile-text">Interest 2 </p>
            </div>
            <div id="interest-1">
              <p class="profile-text">Interest 3 </p>
            </div>
          </div>
          <div id="affiliation">
              <h3 id = "affiliation-header">
                  <h3>Major/Job and Employer</h3>
            </h3>
            <div id="affiliation-info">
              <p class="profile-text"> insert info</p>
            </div>
          </div>
            <div id ="contact">
              <div id="contact-info">
                <p class="contact-text">Phone Number:555-555-5555 Email:abcd@gmail.com </p>
              </div>
            </div>
          </div>
          </div>

    


</body>
</html>